*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #d99058;
    background-image: linear-gradient(136deg, #d99058 0%, #f8de7e 74%);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    border-radius: 4px;
}

ion-icon,
span {
    display: inline-block;
}

label,
img {
    display: block;
}

input {
    font: inherit;
    width: 100%;
    border-radius: 4px;
    border: none;
}

input:focus {
    outline: 2px solid #f3e385;
}

/**
 * Remove number input up & down button
 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Scollbar*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 5px;
}

/* Containers */
.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 40px;
    font-weight: 500;
    color: #404040;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.heading ion-icon {
    font-size: 40px;
}

.section-heading {
    font-family: 'Berkshire Swash';
    font-size: 40px;
    padding: 8px 0;
}

.cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.detail {
    margin: 0 30px;
}

.cart .cart-item-box {
    border-right: 1px solid #e6e6e6;
    margin: 2px 16px;
}

.discount-token {
    border-top: none;
}

.product-card:not(:last-child) {
    margin-bottom: 20px;
}

.product-card .card {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


.card .product-img {
    border-radius: 5px;
}

.card .img-box img {
    width: 100px;
    height: 100px;
}

.card .detail .product-name {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.wrapper-detail {
    display: flex;
    flex-direction: row;
}

.product-qty {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.product-qty button {
    background: #e8e8e8;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.product-qty button:active,
.product-close-btn:active input[type="checkbox"] {
    transform: scale(0.95);
}

.product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
}

.price {
    margin-left: 16px;
    font-size: 20px;
}

.discount-token {
    padding: 40px 60px;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper-flex input {
    padding: 12px 15px;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: white;
}

.btn-outline {
    padding: 10px 25px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #bb6e08;
    font-weight: bold;
}

.btn-outline:hover {
    border: 1px solid #fff;
    background: #bb6e08;
    color: #fff;
}

.btn-payment {
    width: 50%;
    margin-left: 300px;
}

.amount {
    padding: 40px 60px;
    font-size: 20px;
}

.amount>div {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.amount-total {
    font-size: 18px;
    font-weight: 700;
    color: #404040;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 0px;
    height: 0px;
    top: 20px;
    right: 40px;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.2s linear;
}


input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #fff;
}

input[type=checkbox]:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border: 1px solid #000;
    border-width: 0 0px 0px 0;
    transform: rotate(180deg);
    position: absolute;
    top: 0px;
    left: 50px;
    transition: all 0.2s linear;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 12px;
    height: 21px;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 9px;
}

.footer {
    background: #000;
    font-size: 14px;
    line-height: 1.4;
}

.copyright {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    color: #ffffff80;
    padding: 8px 0;
    bottom: 0;
    top: 0;
}