.header {
    height: 100px;
    background-color: #000;
}

.nav {
    display: flex;
}

.nav img {
    width: 200;
}

.nav li {
    align-items: center;
    justify-content: space-between;
}

.nav li a {
    color: #c6c6c6;
    text-decoration: none;
    line-height: 100px;
}
