.header {
    height: 100px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav {
    max-width: 90%;
    display: flex;
}

#logo {
    float: left;
    padding: 0 100px;
}
.nav li {
    list-style: none;
    line-height: 100px;
    font-weight: 500;
}

.nav li a {
    color: #c6c6c6;
    padding: 0px 15px;
    text-decoration: none;
}

.nav li:hover a {
    color: #f3e385;
}

.nav li:last-child a {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-transform: none;
}

.nav li:last-child a:hover {
    background-color: #f3e385;
    color: #000;
}

.content {
    height: 1000px;
}
