.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

#logo {
    float: left;
    padding: 0 30px;
}
.nav li {
    display: inline-block;
    list-style: none;
    line-height: 100px;
}

.nav li a {
    color: #c6c6c6;
    padding: 6px 15px;
    text-decoration: none;
}
