.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

.nav img {
    justify-content: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #c6c6c6;
    text-decoration: none;
    line-height: 100px;
}
