.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

.nav img {
}
#logo {
    float: left;
}
.nav li {
    float: right;
    list-style: none;
    line-height: 100px;
    text-decoration: none;
}

.nav li a {
    padding: 6px 15px;
}
