.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

.nav img {
    width: 300px;
    padding: 20px 50px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #c6c6c6;
    text-decoration: none;
    line-height: 100px;
    padding: 0 20px;
}
