* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 100px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header img {
    padding: 8px;
}
/* Navigation bar */
.nav {
    max-width: 90%;
    display: flex;
}

#logo {
    float: left;
    padding: 0 100px;
}
.nav li {
    list-style: none;
    line-height: 100px;
    font-weight: 500;
}

.nav li a {
    color: #c6c6c6;
    padding: 6px 15px;
    text-decoration: none;
}

.nav li:hover a {
    color: #f3e385;
    font-weight: bold;
}

.nav li:last-child a {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-transform: none;
}

.nav li:last-child a:hover {
    background-color: #f3e385;
    color: #000;
}
/* Content */
.content {
    height: 1000px;
}

.content-section {
    display: flex;
    max-width: 80%;
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center;
}

.section-left {
    flex: 1;
}

.section-left .section-heading {
    font-size: 50px;
    margin: 0 0 15px;
    font-family: Berkshire Swash;
}

.section-left .section-content {
    font-size: 16px;
    margin: 0 0 20px;
    line-height: 1.4;
}

.section-left .section-content span {
    font-weight: 700;
}
.section-images {
    flex: 1;
}

.section-images img {
    width: 250px;
    height: 400px;
    flex-basis: 25%;
    padding: 0 15px 30px;
}
