* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    overflow: hidden;
}

.header {
    height: 100px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header img {
    padding: 8px;
    width: 350px;
}
/* Navigation bar */

.nav {
    max-width: 85%;
    display: flex;
}

#logo {
    float: left;
    padding: 0 100px;
}

@media screen and (max-width: 1400px) {
    #logo {
        padding: 6px 50px;
    }
    .header img {
        width: 300px;
    }
    .nav a {
        font-size: 14px;
    }
}

.nav > ul {
    flex-wrap: wrap;
}

.nav li {
    list-style: none;
    line-height: 100px;
    font-weight: 500;
}

.nav li a {
    color: #c6c6c6;
    padding: 6px 15px;
    text-decoration: none;
}
.nav li a:active,
.nav li a:hover {
    color: #f3e385;
    font-weight: bold;
}
.nav li:active a {
    color: #f3e385;
    font-weight: bold;
}

.nav li:last-child a {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-transform: none;
}

.nav li:last-child a:hover {
    background-color: #f3e385;
    color: #000;
}
/* Content */
.content {
    height: 100vh;
}

.section-heading {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 8px;
}

.content-section-sunhomes {
    display: flex;
    max-width: 85%;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
    padding: 24px;
}

.section-left-sunhomes {
    padding: 0 15px 30px;
    width: 50%;
}

.section-left-sunhomes .section-heading {
    font-size: 50px;
    margin: 0 0 15px;
    font-family: Berkshire Swash;
}

.section-left-sunhomes .section-content {
    font-size: 16px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #777777;
}

.section-left-sunhomes .section-content span {
    font-weight: 700;
}
.section-images-sunhomes {
    flex-basis: 50%;
}

.section-images-sunhomes img {
    width: 260px;
    height: 400px;
    flex-basis: 50%;
    padding: 15px;
}

@media screen and (max-width: 1400px) {
    .section-images-sunhomes img {
        width: 220px;
    }
}

.img-1 {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.img-1 img {
    transition: all 0.5s ease-in-out;
}

.img-1:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.img-2 {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.img-2 img {
    transition: all 0.5s ease-in-out;
}

.img-2:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content-section-menu {
    display: flex;
    max-width: 85%;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
    padding: 24px;
}
.section-images-menu {
    display: flex;
}

.section-right-menu {
    flex: 1;
    padding: 30px 30px;
}

.section-right-menu .section-heading {
    color: #c0c0c0;
    font-size: 50px;
    margin: 0 15px;
}

.section-right-menu .section-content {
    font-size: 16px;
    margin: 0 20px;
    line-height: 1.4;
    color: #777777;
}

.section-right-menu .section-content span {
    font-weight: 700;
}
.section-images-menu {
    flex: 1;
}

.img-3 {
    filter: grayscale(100%);
}

.img-3:hover {
    filter: grayscale(0%);
    transition: 0.8s;
}

.img-4 {
    filter: grayscale(100%);
}

.img-4:hover {
    filter: grayscale(0%);
    transition: 0.8s;
}

.img-5 {
    filter: grayscale(100%);
}

.img-5:hover {
    filter: grayscale(0%);
    transition: 0.8s;
}

.img-6 {
    filter: grayscale(100%);
}

.img-6:hover {
    filter: grayscale(0%);
    transition: 0.8s;
}

.section-images-menu img {
    width: 280px;
    height: 200px;
    flex-basis: 25%;
    padding: 15px;
}

.bg-menu {
    background-color: #000;
    height: 480px;
}

.btn-menu {
    display: inline-block;
    color: #c0c0c0;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-transform: none;
    margin: 12px 20px;
}

.btn-menu:hover {
    color: #555;
    background: #ccc;
    font-weight: bold;
}

.btn-menu .icon-menu {
    color: #c0c0c0;
    font-size: 16px;
}

.btn-menu:hover .icon-menu {
    color: #555;
    background: #ccc;
    font-weight: bold;
}

.icon-menu:hover {
    color: #ccc;
    background: #000;
}

.btn-res {
    display: inline-block;
    color: #727272;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #727272;
    border-radius: 5px;
    text-transform: none;
    font-weight: bold;
}

.btn-res:hover {
    color: #ccc;
    background: #555;
    font-weight: bold;
}

.btn-res .icon-menu {
    color: #000;
    font-size: 16px;
}

/* Footer */
.footer {
    background: #000;
    font-size: 14px;
    line-height: 1.4;
}

.copyright {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    color: #ffffff80;
    padding: 10px;
    bottom: 0;
}
