.header {
    height: 100px;
    width: 100%;
    background-color: #000;
    position: fixed;
}

.nav {
    display: flex;
    height: 3000px;
    position: relative;
}

#logo {
    float: left;
    padding: 0 100px;
}
.nav li {
    list-style: none;
    line-height: 100px;
    font-weight: 500;
    flex-wrap: wrap;
    position: relative;
}

.nav li a {
    color: #c6c6c6;
    padding: 6px 15px;
    text-decoration: none;
}

.nav li:hover a {
    color: #f3e385;
}

.nav li:last-child a {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    text-transform: none;
}

.nav li:last-child a:hover {
    background-color: #f3e385;
    color: #000;
}
