.header {
    height: 100px;
    background-color: #000;
}

.nav {
    overflow: hidden;
    position: fixed;
}

.nav img {
}

.nav li {
}

.nav li a {
    color: #c6c6c6;
    text-decoration: none;
    line-height: 100px;
    position: relative;
}
