.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

.nav img {
}
#logo {
    float: left;
}
.nav li {
    float: right;
    list-style: none;
    line-height: 100px;
}

.nav li a {
    color: #c6c6c6;
    padding: 6px 15px;
    text-decoration: none;
}
