.header {
    height: 100px;
    display: flex;
    background-color: #000;
}

.nav {
    flex: 70%;
}

.nav img {
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: #c6c6c6;
    text-decoration: none;
    line-height: 100px;
    align-items: center;
}
