.header {
    height: 100px;
    background-color: #000;
}

.nav {
}

.nav img {
}
#logo {
    float: left;
}
.nav li {
    float: right;
    list-style: none;
    position: relative;
}

.nav li a {
}
